.footer_email {
  width: 719px;
  height: 77px;
  background: #161616;
  border-radius: 1000px;
  border: 1px solid white;
  position: relative;
  font-size: 20px;
}
.footer_email::after {
  content: "Email";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: #161616;
}
.footer_email::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: #161616;
  background-image: url(/img/mail.png);
  border-radius: 100px;
}
.footer_signup {
  width: 1400px;
  margin: 0 auto;
  @include d-flex(space-between);
  padding-bottom: 50px;
  border-bottom: 1px solid #80808021;
}
.pays_item::after {
  position: absolute;
  content: "";
  background-color: #c75e90;
  border-radius: 50%;
  background-image: url(/img/location-1.png);
  background-size: cover;
  top: 0;
  left: -60px;
  width: 50px;
  height: 50px;
}
.pays_item {
  position: relative;
}
.the_end {
  width: 1400px;
  margin: 0 auto;
}
.the_end {
  li{
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
